<h3 class=" text-center text-2xl mb-4 font-semibold text-gray-900 dark:text-white">
    Edit User
  </h3>
  
  <form (ngSubmit)="handleSubmit()">
    <div class="grid gap-4 mb-4 sm:grid-cols-2 border border-black p-5 rounded-md bg-orange-200 ">
      <div class="sm:col-span-3">
        <label
          for="email"
          class=" font-bold text-xl block mb-2  text-gray-900 dark:text-white"
          >Email</label
        >
        <!-- [(target)]="expression" -->
        <!-- [(ngModel)] -->
        <input
          [(ngModel)]="userEdit.email"
          type="email"
          name="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        />
      </div>
      <div class="sm:col-span-3">
        <label
          for="username"
          class=" font-bold text-xl block mb-2  text-gray-900 dark:text-white"
          >Username</label
        >
        <input
          [(ngModel)]="userEdit.username"
          type="text"
          name="username"
          id="username"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        />
      </div>
      <div>
        <label
          for="password"
          class=" font-bold text-xl block mb-2 text-gray-900 dark:text-white"
          >Password</label
        >
        <input
          [(ngModel)]="userEdit.password"
          type="password"
          name="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        />
      </div>
     
      <div class="sm:col-span-3">
        <label
          for="role"
          class="font-bold text-xl block mb-2 text-gray-900 dark:text-white"
        >Role</label>
        <select
          [(ngModel)]="userEdit.role"
          name="role"
          id="role"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        >
          <option value="" disabled>Select Role</option>
          <option value="admin">admin</option>
          <option value="member">member</option>
        </select>
      </div>
      
      
      
    </div>
    <div class = "flex justify-center">
      <button
      type="submit"
      class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    >
      <svg
        class="mr-1 -ml-1 w-6 h-6"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
          clip-rule="evenodd"
        ></path>
      </svg>
      Update User
    </button>
    </div>
  </form>